<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.assertj.core.internal.bytebuddy.build.Plugin$Engine$Default"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="org.assertj.core"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="log-levels"/>
</launchConfiguration>
